<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated tosca2occi -->
      <package
            uri="http://tosca2occi"
            class="tosca2occi.Tosca2occiPackage"
            genModel="model/tosca2occi.genmodel"/>
   </extension>

</plugin>
